a#normal_button, a#normal_button img {
    display: inline;
}

a#high_contrast_button, a#high_contrast_button img {
    display: none;
}

body{
    color: green;
}

h1,h2 {
    font-family: Verdana, sans-serif;
	text-shadow:0px 0px 0px;
}


main, footer, div#main, div#footer {
    background-color:black;
}

header, div#header {
	padding-bottom:0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color:yellow;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

header nav a:link, div#header div#mainmenu a:link  {color:black;}
header nav a:visited, div#header div#mainmenu a:visited {color:#000080;}
